<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Message App</title>
	<link rel="stylesheet" href="/public/css/main.css" />
</head>

<body>
  <h1>
    登録されている全てのレコード
  </h1>
  <p>
    <a href="./">Topに戻る</a>
  </p>
  <% if (results.length === 0) { %>
    <p>No results found.</p>
  <% } else { %>
    <ul>
      <% results.forEach((result) => { %>
        <li><%= result %></li>
      <% }); %>
    </ul>
  <% } %>

  <form method="post" action="/search">
    <input type="text" name="searchText" placeholder="Search">
    <button type="submit">Search</button>
  </form>
</body>

</html>